/* =================================== */
/*	Basic Style 
/* =================================== */

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 21px;
    font-size: 14px;
    color: #2C3E50;
}
ol, ul {
    margin: 0;
    padding: 0;
}

figure, p {
    margin: 0;
}

a {
    color: #fff;

    -webkit-transition: all .3s ease-in 0s;
    -moz-transition: all .3s ease-in 0s;
    -ms-transition: all .3s ease-in 0s;
    -o-transition: all .3s ease-in 0s;
    transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

.orange {
    color: #EB4F22;
}

body > section {
    padding: 70px 0;
    overflow-x: hidden;
}

.sec-title h2 {
    color: #EB4F22;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
}

.sec-sub-title {
    margin: 35px 0 45px;
}

.sec-sub-title p {
    font-weight: 600;
    line-height: 24px;
    font-size: 17px;
    color: #5b646e;
}

.devider {
    margin-top: 30px;
}

.devider i {
    color: #cccccc;
}

.devider:before,
.devider:after {
    content: "______________________";
    color: #e6e8ea;
    position: relative;
    bottom: 6px;
}

.devider:before {
    right: 10px;
}

.devider:after {
    left: 10px;
}

.mb50 {
    margin-bottom: 50px;
}

#preloader {
    background-color: #fff;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1100;
}

#preloader > img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -45px;
    margin-left: -45px;
    width: 90px;
}

.parallax-overlay {
    background-color: rgba(6, 32, 51, .8);
    padding: 70px 0;
}

/*=========================================
	Header
==========================================*/

#navigation {
    background-color: rgba(44, 62, 80, 0.3);
    border: 0 none;
    margin: 0;
    z-index: 900;

    -webkit-transition: background-color 800ms linear;
    -moz-transition: background-color 800ms linear;
    -ms-transition: background-color 800ms linear;
    -o-transition: background-color 800ms linear;
    transition: background-color 800ms linear;
}

#navigation.scroll {
    background-color: rgb(44, 62, 80);
}

.navbar-header {
    margin-left: 15px;
}

.navbar-header, .nav {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.navbar-toggle i {
    color: #fff;
}

.navbar-brand {
    padding: 0;
    line-height: 50px;
}

.navbar-brand img {
    height: 30px;
    margin-top: 10px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.navbar-nav {
    overflow: hidden;
}

.navbar-nav li a {
    position: relative;
    -webkit-transition: margin 100ms linear, padding 300ms linear;
    -moz-transition: margin 100ms linear, padding 300ms linear;
    -ms-transition: margin 100ms linear, padding 300ms linear;
    -o-transition: margin 100ms linear, padding 300ms linear;
    transition: margin 100ms linear, padding 300ms linear;
}

.navbar-nav li a:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
}

.navbar-nav li a.current,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
    background-color: transparent;
    color: #fff;
    margin-top: -2px;
}

.navbar-nav li a.current:after {
    background: #EB4F22;
}

/*=========================================
	Slider
==========================================*/

#slider {
    padding: 0;
}

#slider .fullwidth-carousel .item-slide {
    position: relative;
    background-size: cover;
    overflow: hidden;
}

.carousel-caption.first-slide{
    top: 50%;
    right: 0;
    left: 0;
    margin-top: -70px;
}

.carousel-caption.first-slide h2{
    font-size: 140px;
    line-height: 140px;
    font-weight: 300;
}

.carousel-caption {
    top: 50%;
}

.carousel-caption h2 {
    font-size: 62px;
    font-weight: 300;
}

.carousel-caption h2 span {
    font-weight: 800;
}

.carousel-caption h3 {
    font-size: 48px;
    font-weight: 300;
    margin: 6px 0 20px;
}

.carousel-caption p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

.carousel-caption p:before,
.carousel-caption p:after {
    color: #EB4F22;
    content: "___";
    position: relative;
    top: -8px;
}

.carousel-caption p:before {
    right: 20px;
}

.carousel-caption p:after {
    left: 20px;
}

.slick-dots {
    position: absolute;
    right: 0;
    margin: 0;
    bottom: 30px;
    left: 0;
    text-align: center;
    width: 100%;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.8);
    height: 18px;
    width: 18px;
    margin: 0 3px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots li.slick-active {
    height: 18px;
    width: 18px;
    border: 2px solid #EB4F22;
    background: #EB4F22;
    margin: 0 3px;
}

.slick-dots li > *{
    display: none;
}

/*=========================================
	Features
==========================================*/

.features {
    background-color: #f4f7f9;
}

.owl-controls {
    bottom: -45px;
    margin-top: 10px;
    position: relative;
    text-align: center;
}

.owl-controls .owl-page {
    display: inline-block;
}

.owl-controls .owl-page span {
    border: 1px solid #C7CED3;
    border-radius: 20px;
    display: block;
    height: 8px;
    margin: 5px 4px;
    width: 8px;
}

.owl-controls .owl-page.active span {
    background: #062033;
    border: 0;
}

.service-icon {
    border: 1px solid rgba(44, 62, 80, .8);
    border-radius: 50%;
    color: rgba(44, 62, 80, .8);
    float: left;
    padding: 10px 13px;
}

.service-desc {
    margin-left: 70px;
    position: relative;
    top: 5px;
}

.service-desc h3 {
    color: #062033;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}

/*=================================================================
	About us section
==================================================================*/

#about {
    padding: 70px 0;
}

.wrap-about {
    position: relative;
}

.wrap-about .fa {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    color: #2C3E50;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.wrap-about h3 {
    color: #062033;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}

.wrap-about p {
    color: rgba(0, 0, 0, .45);
    font-weight: 600;
}

.icon-box {
    position: relative;
    z-index: 1;
    width: 160px;
    height: 92.38px;
    background-color: transparent;
    margin: 46.19px auto 60px;
    padding: 20px 0;
    border-left: solid 3px #2C3E50;
    border-right: solid 3px #2C3E50;

    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.wrap-about:hover .icon-box {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
}

.icon-box:before,
.icon-box:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 113.14px;
    height: 113.14px;
    background-color: inherit;
    left: 20.4315px;

    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -moz-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    -o-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
}

.icon-box:before {
    top: -56.5685px;
    border-top: solid 4.2426px #2C3E50;
    border-right: solid 4.2426px #2C3E50;
}

.icon-box:after {
    bottom: -56.5685px;
    border-bottom: solid 4.2426px #2C3E50;
    border-left: solid 4.2426px #2C3E50;
}

.icon-box.half {
    width: 80px;
    height: 46.19px;
    margin: 23.09px auto 30px;
    padding: 3px 0 0 0;
    border-left: solid 2px #2C3E50;
    border-right: solid 2px #2C3E50;
    cursor: pointer;
}

.icon-box.half.active,
.icon-box.half:hover {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;

    background: #364d63;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: trotate(90deg);
    transform: rotate(90deg);
}

.icon-box.half i {
    font-size: 40px;
}

.icon-box.half.active i,
.icon-box.half:hover i {
    color: #ffffff;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: trotate(-90deg);
    transform: rotate(-90deg);
}

.icon-box.half.active i {
    color: #EB4F22;
}

.icon-box.half:before,
.icon-box.half:after {
    width: 56.57px;
    height: 56.57px;
    left: 9.7157px;

    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -moz-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    -o-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
}

.icon-box.half:before {
    top: -28.2843px;
    border-top: solid 2.8284px #2C3E50;
    border-right: solid 2.8284px #2C3E50;
}

.icon-box.half:after {
    bottom: -28.2843px;
    border-bottom: solid 2.8284px #2C3E50;
    border-left: solid 2.8284px #2C3E50;
}

#about-2 {
    background-image: url("../img/parallax/about-2.jpg");
    background-color: rgba(6, 32, 51, .8);
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.about-2 h2 {
    color: #fff;
    margin-bottom: 10px;
}

.about-2 h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.about-2 p {
    color: #fff;
}

.about-2 .media {
    margin-top: 35px;
}

.about-2 .media .fa {
    color: #fff;
}

/*=========================================
	Footer
==========================================*/

.footer {
    background: rgb(44, 62, 80);
    border-top: 5px solid #EB4F22;
    color: #afbac4;
}

.footer-contact {
    padding: 20px 0;
}

.footer a {
    color: #afbac4;
    transition: all .3s ease;
}

.footer a:hover {
    color: #EB4F22;
}

.footer h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
}

#back-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9;
    width: 42px;
    height: 42px;
    background: url('../img/scroll_top.png') no-repeat center/contain;
    text-align: center;
    cursor: pointer;

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
#back-top.show-icon {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
#back-top.hide-icon {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

#back-top img {
    margin: auto;
    wisth: 20px;
}