/*============================================================
	For Tablet and Desktop
==============================================================*/

@media (min-width: 767px) {
    #navigation.scroll .navbar-header {
        padding-left: 65px;
    }

    #navigation.scroll .nav {
        padding-right: 50px;
    }

    #navigation.scroll .navbar-nav li a {
        padding: 20px;
    }

    #navigation.scroll .navbar-brand img {
        height: 36px;
        margin-top: 12px;
    }
}




/*============================================================
	For Small Desktop
==============================================================*/

@media (min-width: 980px) and (max-width: 1150px) {
    /* slider */
    .carousel-caption h3 {
        font-size: 45px;
    }

    /* works */
    /* team */
    .member-thumb {
        width: auto;
    }

}

/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/

@media (min-width: 768px) and (max-width: 979px) {

    /* slider */
    .carousel-caption.first-slide{
        margin-top: -60px;
    }

    .carousel-caption.first-slide h2{
        font-size: 120px;
        line-height: 120px;
    }

    .carousel-caption h2 {
        font-size: 55px;
    }

    .carousel-caption h3 {
        font-size: 36px;
    }

    /* services */
    .service-item {
        margin: 0 auto 30px;
        text-align: center;
    }

    .service-icon {
        float: none;
        margin: 0 auto 15px;
        text-align: center;
        width: 50px;
    }

    .service-desc {
        margin-left: 0;
        position: relative;
        top: 0;
    }

    /* team */
    .member-thumb .overlay h5 {
        margin: 25px 0;
    }

    .member-thumb {
        margin: 0 auto;
    }

    /* contact */
    .contact-form .name-email input {
        margin-right: 0;
        width: 100%;
    }

    .footer-social {
        margin-top: 45px;
    }

    /* footer */
    .footer-single {
        margin-bottom: 30px;
    }
}

/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/

@media only screen and (max-width: 767px) {
    body > section {
    padding: 60px 0;
    }
    .mb50 {
        margin-bottom: 30px;
    }

    /* navbar */
    .navbar-header {
        height: 60px;
    }

    .navbar-brand img {
        height: 36px;
        margin-top: 12px;
        margin-left: 20px;
    }

    .navbar-nav {
        margin: 0;
        padding-bottom: 15px;
    }

    .navbar-nav li a,
    .navbar-nav li a.current {
        margin: 0;
        text-align: center;
        font-weight: 600;
    }

    .navbar-nav li a.current {
        color: #EB4F22;
    }

    .navbar-nav li a:after,
    .navbar-nav li a.current:after {
        display: none;
    }

    .navbar-nav li a:hover {
        margin: 0;
    }

    .sec-sub-title p {
        font-size: 14px;
    }

    .navbar-toggle .icon-bar {
    width: 28px;
    height: 3px;
    margin-top: 5px!important;
    background: #fff;
    transition: .5s ease;
    }
    .navbar-toggle.collapsed .icon-bar:nth-child(2){
    transform: rotate(0)translateY(0)translateX(0);
    }
    .navbar-toggle.collapsed .icon-bar:nth-child(3){
    opacity:1;
    }
    .navbar-toggle.collapsed .icon-bar:nth-child(4){
    transform:rotate(0)translateY(0)translateX(0);
    }
    .navbar-toggle .icon-bar:nth-child(2){
    transform: rotate(-45deg)translateY(5px)translateX(-5px);
    }
    .navbar-toggle .icon-bar:nth-child(3){
    opacity: 0;
    }
    .navbar-toggle .icon-bar:nth-child(4){
    transform:rotate(45deg)translateY(-7px)translateX(-5px);
    }

    /* slider */
    .carousel-caption.first-slide{
        margin-top: -25px;
    }

    .carousel-caption.first-slide h2{
        font-size: 50px;
        line-height: 50px;
    }

    .carousel-caption {
        left: 10%;
        right: 10%;
    }
    .carousel-caption h2 {
        font-size: 35px;
    }

    .carousel-caption h3 {
        font-size: 22px;
    }

    .carousel-caption p {
        font-size: 14px;
    }

    .social-links {
        margin-top: 20%;
    }

    /* services */
    .service-item {
        margin: 3px auto 30px;
        text-align: center;
        width: 280px;
    }

    .service-icon {
        float: none;
        margin: 0 auto 15px;
        text-align: center;
        width: 50px;
    }

    .service-desc {
        margin-left: 0;
        position: relative;
        top: 0;
    }

    /* about */
    .about .wrap-about {
        margin-bottom: 30px;
    }

    /* team */
    .sidebar-member .member {
        width: 100%;
    }
}

/*============================================================
	Mobile (Landscape) Design for a width of 480px
==============================================================*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .service-item {
        margin: 0 auto 30px;
        text-align: center;
        width: 325px;
    }

    .service-icon {
        float: none;
        margin: 0 auto 15px;
        text-align: center;
        width: 50px;
    }

    .service-desc {
        margin-left: 0;
        position: relative;
        top: 0;
    }
}